*.so filter=lfs diff=lfs merge=lfs -text
*.bp filter=lfs diff=lfs merge=lfs -text
*.mk filter=lfs diff=lfs merge=lfs -text
*.prop filter=lfs diff=lfs merge=lfs -text
*.apk filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
*.xml filter=lfs diff=lfs merge=lfs -text
*.jar filter=lfs diff=lfs merge=lfs -text
/proprietary/system_ext/bin/dpmd filter=lfs diff=lfs merge=lfs -text
/proprietary/system_ext/bin/wfdservice64 filter=lfs diff=lfs merge=lfs -text
*.conf filter=lfs diff=lfs merge=lfs -text
*.rc filter=lfs diff=lfs merge=lfs -text
*.policy filter=lfs diff=lfs merge=lfs -text
/proprietary/vendor/bin/ATFWD-daemon filter=lfs diff=lfs merge=lfs -text
/proprietary/vendor/bin/adpl filter=lfs diff=lfs merge=lfs -text
/proprietary/vendor/bin/adsprpcd filter=lfs diff=lfs merge=lfs -text
/proprietary/vendor/bin/batterysecret filter=lfs diff=lfs merge=lfs -text
/proprietary/vendor/bin/cdsprpcd filter=lfs diff=lfs merge=lfs -text
/proprietary/vendor/bin/cnd filter=lfs diff=lfs merge=lfs -text
/proprietary/vendor/bin/cnss-daemon filter=lfs diff=lfs merge=lfs -text
/proprietary/vendor/bin/diag-router filter=lfs diff=lfs merge=lfs -text
/proprietary/vendor/bin/dpmQmiMgr filter=lfs diff=lfs merge=lfs -text
/proprietary/vendor/bin/dspservice filter=lfs diff=lfs merge=lfs -text
*.0-service-qti filter=lfs diff=lfs merge=lfs -text
*.widevine filter=lfs diff=lfs merge=lfs -text
*.1-service-qti filter=lfs diff=lfs merge=lfs -text
*.3-service-qti filter=lfs diff=lfs merge=lfs -text
/proprietary/vendor/bin/hw/qcrilNrd filter=lfs diff=lfs merge=lfs -text
*.0-service filter=lfs diff=lfs merge=lfs -text
*.1-service filter=lfs diff=lfs merge=lfs -text
*.2-service filter=lfs diff=lfs merge=lfs -text
/proprietary/vendor/bin/ims_rtp_daemon filter=lfs diff=lfs merge=lfs -text
/proprietary/vendor/bin/imsdaemon filter=lfs diff=lfs merge=lfs -text
*.sh filter=lfs diff=lfs merge=lfs -text
/proprietary/vendor/bin/irsc_util filter=lfs diff=lfs merge=lfs -text
/proprietary/vendor/bin/loc_launcher filter=lfs diff=lfs merge=lfs -text
/proprietary/vendor/bin/lowi-server filter=lfs diff=lfs merge=lfs -text
/proprietary/vendor/bin/mi_thermald filter=lfs diff=lfs merge=lfs -text
*.1 filter=lfs diff=lfs merge=lfs -text
/proprietary/vendor/bin/msm_irqbalance filter=lfs diff=lfs merge=lfs -text
/proprietary/vendor/bin/mutualex filter=lfs diff=lfs merge=lfs -text
/proprietary/vendor/bin/netmgrd filter=lfs diff=lfs merge=lfs -text
/proprietary/vendor/bin/pd-mapper filter=lfs diff=lfs merge=lfs -text
/proprietary/vendor/bin/pm-proxy filter=lfs diff=lfs merge=lfs -text
/proprietary/vendor/bin/pm-service filter=lfs diff=lfs merge=lfs -text
/proprietary/vendor/bin/port-bridge filter=lfs diff=lfs merge=lfs -text
/proprietary/vendor/bin/power_off_alarm filter=lfs diff=lfs merge=lfs -text
/proprietary/vendor/bin/ppd filter=lfs diff=lfs merge=lfs -text
/proprietary/vendor/bin/qdcmss filter=lfs diff=lfs merge=lfs -text
/proprietary/vendor/bin/qmipriod filter=lfs diff=lfs merge=lfs -text
/proprietary/vendor/bin/qrtr-lookup filter=lfs diff=lfs merge=lfs -text
/proprietary/vendor/bin/qrtr-ns filter=lfs diff=lfs merge=lfs -text
/proprietary/vendor/bin/qseecomd filter=lfs diff=lfs merge=lfs -text
/proprietary/vendor/bin/qti filter=lfs diff=lfs merge=lfs -text
/proprietary/vendor/bin/rmt_storage filter=lfs diff=lfs merge=lfs -text
*.qti filter=lfs diff=lfs merge=lfs -text
/proprietary/vendor/bin/sscrpcd filter=lfs diff=lfs merge=lfs -text
/proprietary/vendor/bin/tftp_server filter=lfs diff=lfs merge=lfs -text
/proprietary/vendor/bin/time_daemon filter=lfs diff=lfs merge=lfs -text
/proprietary/vendor/bin/wfdvndservice filter=lfs diff=lfs merge=lfs -text
/proprietary/vendor/bin/wifidisplayhalservice filter=lfs diff=lfs merge=lfs -text
/proprietary/vendor/bin/xtra-daemon filter=lfs diff=lfs merge=lfs -text
*.acdb filter=lfs diff=lfs merge=lfs -text
*.qwsp filter=lfs diff=lfs merge=lfs -text
*.pmd filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.txt filter=lfs diff=lfs merge=lfs -text
*.golden_i filter=lfs diff=lfs merge=lfs -text
*.golden_ii filter=lfs diff=lfs merge=lfs -text
*.golden_in_i filter=lfs diff=lfs merge=lfs -text
/proprietary/vendor/etc/camera/model/cap_model/ldc_cap_cache filter=lfs diff=lfs merge=lfs -text
/proprietary/vendor/etc/camera/model/cap_model/ldc_cap_model filter=lfs diff=lfs merge=lfs -text
/proprietary/vendor/etc/camera/model/cap_model/ldc_cap_policy filter=lfs diff=lfs merge=lfs -text
/proprietary/vendor/etc/camera/model/depth_model/capture_cache filter=lfs diff=lfs merge=lfs -text
/proprietary/vendor/etc/camera/model/depth_model/capture_model filter=lfs diff=lfs merge=lfs -text
/proprietary/vendor/etc/camera/model/depth_model/capture_policy filter=lfs diff=lfs merge=lfs -text
/proprietary/vendor/etc/camera/model/pre_model/ldc_pre_cache filter=lfs diff=lfs merge=lfs -text
/proprietary/vendor/etc/camera/model/pre_model/ldc_pre_model filter=lfs diff=lfs merge=lfs -text
/proprietary/vendor/etc/camera/model/pre_model/ldc_pre_policy filter=lfs diff=lfs merge=lfs -text
/proprietary/vendor/etc/camera/model/rt_model/preview_cache filter=lfs diff=lfs merge=lfs -text
/proprietary/vendor/etc/camera/model/rt_model/preview_model filter=lfs diff=lfs merge=lfs -text
/proprietary/vendor/etc/camera/model/rt_model/preview_policy filter=lfs diff=lfs merge=lfs -text
/proprietary/vendor/etc/camera/vidhance_calibration filter=lfs diff=lfs merge=lfs -text
*.json filter=lfs diff=lfs merge=lfs -text
*.db filter=lfs diff=lfs merge=lfs -text
*.sql filter=lfs diff=lfs merge=lfs -text
/proprietary/vendor/etc/sec_config filter=lfs diff=lfs merge=lfs -text
/proprietary/vendor/etc/sensors/sns_reg_config filter=lfs diff=lfs merge=lfs -text
*.b00 filter=lfs diff=lfs merge=lfs -text
*.b01 filter=lfs diff=lfs merge=lfs -text
*.b02 filter=lfs diff=lfs merge=lfs -text
*.mdt filter=lfs diff=lfs merge=lfs -text
*.fw filter=lfs diff=lfs merge=lfs -text
*.b03 filter=lfs diff=lfs merge=lfs -text
*.b04 filter=lfs diff=lfs merge=lfs -text
*.b05 filter=lfs diff=lfs merge=lfs -text
*.b06 filter=lfs diff=lfs merge=lfs -text
*.b07 filter=lfs diff=lfs merge=lfs -text
*.b08 filter=lfs diff=lfs merge=lfs -text
*.b09 filter=lfs diff=lfs merge=lfs -text
*.b10 filter=lfs diff=lfs merge=lfs -text
*.b11 filter=lfs diff=lfs merge=lfs -text
*.b12 filter=lfs diff=lfs merge=lfs -text
*.b13 filter=lfs diff=lfs merge=lfs -text
*.b14 filter=lfs diff=lfs merge=lfs -text
*.b15 filter=lfs diff=lfs merge=lfs -text
*.b16 filter=lfs diff=lfs merge=lfs -text
*.b17 filter=lfs diff=lfs merge=lfs -text
*.b18 filter=lfs diff=lfs merge=lfs -text
*.b19 filter=lfs diff=lfs merge=lfs -text
*.mbn filter=lfs diff=lfs merge=lfs -text
*.fsm filter=lfs diff=lfs merge=lfs -text
*.elf filter=lfs diff=lfs merge=lfs -text
